body{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    width: 100%;
    color: #171718;
    background-color: #D4D4D4;
    overflow-x: hidden;
    margin: 0;
    padding: 0;
}

header {
    font-family: 'Courier New', Courier, monospace;
    width: 100%;
    position: absolute;
    margin: 0;
    padding: 15px;
    background-color: #171718;
    display: flex;
    align-items: center;
    box-shadow: 0 0 20px #171717;
}

.nav{
    flex: 1;
    align-items: center;
}

.logo {
    margin: 0;
    padding: 0;
    flex: 1;
    align-items: center;
}

.logo img {
    align-items: center;
    padding: 0;
    margin: 0;
    width: 65px;
    height: auto;
    margin-left: 20px;
}

ul{
    margin: 0;
    padding: 0;
    list-style: none;
}

nav {
    width: 100%;
    box-shadow: 0 0 10px rgb(0, 0, 0 / 8%);
    font-weight: bold;
    vertical-align: middle;
    text-decoration: none;
}

nav ul li a {
    text-decoration: none;
}

.menu {
    height: 20px;
    font-size: 18px;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: flex-end;
    align-items: stretch;
    text-decoration: none;
}

.menu li {
    display: inline-block;
    margin-right: 50px;
    vertical-align: middle;
    text-decoration: none;
}

.menu > li:hover > a {
    color: #FF9B25;
    text-decoration: none;
}

.menu > li:hover > a::before {
    visibility: visible;
    scale: 1 1;
    text-decoration: none;
}

.menu > li a {
    color: #FF9B25;
    position: relative;
    text-decoration: none;
    
}

.menu > li a::before{
    content: "";
    position: absolute;
    width: 100%;
    height: 3px;
    bottom: 0px;
    left: 0px;
    background: #FF9B25;
    transition: all 0.2s ease-in-out;
    scale: 0 0;
    visibility: hidden;
    text-decoration: none;
}

.inicioimg {
    display: flex;
    justify-content: center;
    align-items: center;
}

.inicioimg img{
    width: 80%;
    height: auto;
    margin: 70px;
}

.inicio {
    font-weight: bold;
    font-size: 20px;
    margin-left: 40px;
}

.inicio h1{
    padding: 0;
    margin: 0;
}

.historia {
    display: flex;
}

.contenedorOrigen {
    flex: 0.87;
    margin: 10px;
    margin-right: 20px;
    padding-bottom: 20px;
    border: 3px solid #D4D4D4;
    border-radius: 32px;
    box-shadow: 0 0 5px #333;
}

.contenedorOrigen h3 {
    font-size: 26px;
    margin: 0;
}

span {
    font-size: 16px;
}

.texto {
    flex: 1;
    margin: 0;
    padding: 0;
}

.texto h3 {
    margin-left: 13px;
    font-size: 26px;
}

p {
    margin: 10px;
}

#historia {
    margin: 15px 0px;    

    padding: 10px;
}

.historiaimg img {
    border-radius: 30px;
    width: 680px;
    height: auto;
    justify-content: center;
    align-items: center;
}

.contenedorCrec {
    flex: 1;
    flex-direction: row;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    border: 3px solid #D4D4D4;
    border-radius: 32px;
    box-shadow: 0 0 5px #333; 
}


.desarrollo img{
    width: 350px;
    height: auto;
    border-radius: 30px;
}

.contribucion {
    display: flex;
    border: 3px solid #D4D4D4;
    border-radius: 32px;
    box-shadow: 0 0 5px #333;
    
}

.contrimg img {
    width: 350px;
    border-radius: 30px;
}

.desarrollo,
.contrimg {
    display: flex;
    align-items: flex-start; /* Asegura que los elementos dentro estén alineados en la parte superior */
    margin: 0; /* Asegúrate de que no haya margen */
    padding: 0;
}

.contact-section {
    display: flex;
    justify-content: space-between;
    padding: 50px;
}

.contact-info {
   margin:  50px;
    width: 45%;
}

.contact-info h2 {
    font-size: 24px;
    color: #FF9B25;
}

.contact-info h2 span {
    color: #000;
}

.contact-info h1 {
    font-size: 36px;
    margin: 20px 0;
}

.contact-info p {
    font-size: 16px;
    color: #171718;
}

.services {
    margin: 30px 0;
}

.service-item {
    font-size: 18px;
    margin-bottom: 10px;
}

.follow-on {
    margin-top: 40px;
}

.follow-on p {
    font-size: 18px;
}

.social-icons {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.social-icons i {
    width: 30px;
    height: 30px;
}

.contact-form {
    margin-top: 5%;
    width: 45%;
}

.contact-form form {  
    margin: 25px;
    padding: 50px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.contact-form input, .contact-form select, .contact-form textarea {
    background-color: #333;
    padding: 17px 25px;
    border-radius: 25px;
    color: #fff;
    border: none;
    padding: 15px;
    font-size: 16px;
    outline: none;
}

.contact-form textarea {
    resize: none;
    height: 150px;
}

.contact-form .btn {
    background-color: #FF9B25;
    color: #171718;
    padding: 15px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 30px 0 30px 30px;
    border:  solid #171718;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.2);
}

.contact-form button:hover {
    background-color: #ff9b80;
}
